.container {
  width: 1000px;
  margin: 0 auto;
}

.box {
  height: 150px;
}


header {
  background: red;
}

main {
  background: yellow;
  float: left;
  width: 600px
  /*float: ;*/
  /*width: ;*/
}

aside {
  background: green;
  float: right;
  width: 400px
  /*float: ;*/
  /*width: ;*/
}

footer {
  background: blue;

}

.clear {
  clear: both;
}


